/* Global Variables */

/* Media queries */
$breakpoint: 768px;

/** Colors picked from https://flatuicolors.com/ **/

$blackColor: #000000;
$whiteColor: #ffffff;
$wetAsphalt: #34495e;
$vividBlue: #0F41E1;
$darkBlue: #19237D;
$darkGray: #1A1A1A;
$sunFlower: #f1c40f;
$radiantYellow: #F79F1F;
$linxWhite: #f5f6fa;
$clouds: #ecf0f1;
$lightGray: #e2e8ec;
$silver: #bdc3c7;
$androidGreen: #A3CB38;
$emerald: #2ecc71;
$nephritis: #27ae60;
$belize: #2980b9;
$chiGong:#d63031;
$blueMartina: #12CBC4;
$mediterraneanSea: #1289A7;
$turkishAcqua: #006266;
$orangeVille: #e17055;
$midnightBlue: #2c3e50;
$lavanderRose: #FDA7DF;
$lavanderTea: #D980FA;